.about {
    padding-top: 100px;
    position: relative;

    .background {
        position: absolute;
        top: 0;
        right: 0;

    }

    .background1 {
        position: absolute;
        left: 0;
        top: -300px;

    }

    .about_main {
        transform: matrix(0);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about_text {
            width: 500px;

            div {
                background-color: rgba(111, 188, 38, 1);
                width: 100px;
                border-radius: 5px;
                margin-bottom: 25px;

                h6 {
                    background-color: rgba(232, 232, 232, 0.943);
                    margin-left: 5px;
                    width: 95px;
                    padding: 2px 5px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

            h2 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 20px;

            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
            }

        }
    }

    .ssilka {
        display: flex;
        justify-content: space-between;
        margin-top: 34px;

        h1 {
            font-size: 26px;
            font-weight: 500;

            a {
                display: flex;
                align-items: center;
                font-size: 20px;
                color: rgba(163, 3, 16, 1);
                text-decoration: none;
                gap: 10px;
            }
        }
    }
}



@media(max-width:1000px) {
    .about {
        .about_main {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .about_text {
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

            }
        }

        .ssilka {

            h1 {
                font-size: 20px;
                font-weight: 500;

                a {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: rgba(163, 3, 16, 1);
                    text-decoration: none;
                    gap: 10px;
                }
            }
        }
    }
}

@media(max-width: 566px) {
    .about {
        .about_main {
            .about_text {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }

        .ssilka {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media(max-width: 450px) {
    .about {
        .about_main {
            .about_text {
                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 15px;
                }

            }

        }
    }
}